/* #region Base styles */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --transition-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--navy-blue);
  background: var(--white);
}

.section-title {
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize
}

@media only screen and (min-width: 1158px) {
  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}


p {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border: none;
}

a:hover,
a:focus {
  color: var(--ocean);
}

.logo {
  display: inline-block;
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 120px 0;
  }
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

button {
  display: inline-block;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}

image {
  display: block;
}

.icons {
  flex-shrink: 0;
}
/* #endregion */

/* #region Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 2px 1px 0px #2e2f4214;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 24px;
}

@media only screen and (min-width: 767px) {
  .header-container {

    padding: 16px 16px 0 16px;
  }
}

@media only screen and (min-width: 767px) {
  .header-container {
    justify-content: space-between;
    padding: 24px 24px 0 24px;
  }
}


@media only screen and (min-width: 767px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

.logo-link-header {
  padding: 16px;
}

@media only screen and (min-width: 768px) {
  .logo-link-header {
    padding: 0;
    margin-right: 76px;
    padding-top: 8px;
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-link-header {
    padding:  0 0 24px 0;
    margin-right: 76px;
  }
}

.logo-header {
  color: var(--navy-blue);
}

@media only screen and (min-width: 768px) {
  .logo-header {
    margin-right: 76px;
  }
}

.header-address {
  margin: 0;
}

.header-nav-list,
.header-address-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
  }
}  

@media screen and (min-width: 768px) {
  .header-address-list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-nav-list,
  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
  }
}

.header-nav-link {
  position: relative;
  display: inline-block;padding-top: 8px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .header-nav-link {
    padding:  0 0 24px 0;
  }
}

.active {
  color: var(--ocean);
}

.header-nav-link.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .header-address-link {
    display: block;
    padding-bottom: 12px;
    margin: 0;
    color: var(--slate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-address-link {
    padding:  0 0 24px 0;
  }
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--cl-ocean);
}

@media only screen and (min-width: 1158px) {
  .header-adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.header-burger-btn {

}

.header-burger-btn:hover,
.header-burger-btn:focus {
  color: var(--cl-ocean);
}

@media only screen and (min-width: 768px) {
  .header-burger-btn {
    display: none;
  }
}

.header-burger-icon {
  fill: currentColor;
}
/* #endregion */

/* #region Hero */
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    gap: 64px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    padding: 72px 0;
  }
}

.hero {
  max-width: 320px;
  background: var(--navy-blue);
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url(../images/hero/people-office-mob@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../images/hero/people-office-mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../images/hero/people-office-tab@1x.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../images/hero/people-office-tab@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                      url(../images/hero/people-office-desk@1x.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                      url(../images/hero/people-office-desk@1x.jpg);
  }
}

.hero h1 {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .hero h1 {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }
}

.btn {
  display: inline-block;
  min-width: 169px;
  height: 56px;
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: var(--ocean);
}
/* #endregion */

/* #region Basic principles section */
.principles-section {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .section-list {
    flex-direction: row;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .section-list {
    justify-content: space-between;
    gap: 24px;
  }
}

.section-list-item {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .section-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .section-list-item {
    width: calc((100% - 72px) / 4);
  }
}

.icon-principles {
  display: none;
}

@media screen and (min-width: 1158px) {
  .icon-principles {
    padding: 20px 100px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
}

.section-list-item h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1,11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .section-list-item h3 {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  .section-list-item h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 1157px) {
  .section-list-item-text {
    font-weight: 500;
    text-align: center;
  }
}

.section-list-item-text {
  text-align: left;
}
/* #endregion */

/* #region Team section */
.team-section {
  background: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 72px;
  padding: 0 12px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px 24px;
    padding: 0 92px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    padding: 0 0;
    margin: 0 auto;
  }
}

.team-section h2 {
  text-align: center;
  margin-bottom: 72px;
}

.team-list-item {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

@media only screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-list-item img {
  display: block;
}

.team-card {
  padding: 32px 0;
}

.team-section h3 {
  display: block;
  text-align: center;
  background: var(--white);
  font-weight: 500;
  margin-bottom: 8px;
}

.team-section .section-list-item-text {
  text-align: center;
}

.socials-background {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.icon-team-link:hover,
.icon-team-link:focus {
  background-color: #404bbf;
}

.icon-team-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.socials-icons {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region Portfolio section */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section h2 {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-list-overlay {
  height: 280px;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .portfolio-list-overlay {
    height: 300px;
  }
}

.portfolio-list-item {
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow var(--transition-hover-focus);
}

@media only screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-list-item img {
  display: block;
  border-radius: 0px 0px 4px 4px;
}

.portfolio-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px;
  background: #3f51b5;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
}

.portfolio-list-item:hover .portfolio-img-overlay {
  transform: translatey(0);
}

.app-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  border-width: 0px, 1px, 1px, 1px;
  border-style: solid;
  border-color: #e7e9fc;
}

.portfolio-section h3 {
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-section p {
  text-align: left;
  margin: 0 auto;
}
/* #endregion */

/* #region Footer styles */

.section-footer {
  background-color: var(--navy-blue);
}

.footer-container {
  background-color: var(--navy-blue);
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 96px 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}



@media only screen and (min-width: 1158px) {
  .footer-container-logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .logo-link-footer {
    align-self: start;
  }
}
.logo-footer {
  max-width: 288px;
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  width: 264px;
}

@media only screen and (min-width: 1158px) {
  .footer-text {
    width: 264px;
  }
}

.footer-social {
  max-width: 208px;
  align-items: center;
}

@media only screen and (min-width: 1158px) {
  .footer-social {
    margin-right: 80px;
  }
}

.social-text {
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .social-text {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .social-text {
    align-self: start;
  }
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 208px;
}

.footer-socials-background {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

.socials-icons {
  display: block;
  color: #f4f4fd;
  font-size: 16px;
}

.footer-text .social-text {
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  max-width: 453px;
  gap: 16px;
  border-radius: 4px 0px 0px 0px;
  border: 1px solid transparent;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

.subscribe-input {
  font-family: "Roboto";
  color: #ffffff;
  background: var(--navy-blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  display: flex;
  padding-left: 16px;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-subscribe-input::placeholder {
  color: var(--white);
  opacity: 0;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: var(--iris);
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  min-width: 165px;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.telegram {
  display: block;
  fill: var(--white);
  margin-left: 16px;
}
/* #endregion */

/* #region Mobile menu */
.mobile-menu {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* opacity: 0; */
  transition: opacity var(--transition-hover-focus),
    visibility var(--transition-hover-focus);
}

.mobile-menu.is-open {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; */
  height: 100%;
  position: relative;
  padding: 72px 16px 40px;
}

.mobile-menu-container .mobile-close-btn {
  background-color: var(--white);
  margin-bottom: 24px;
}

.mobile-menu-nav {
  margin-bottom: 168px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.mobile-menu-link.active {
  color: var(--ocean);
}

.mobile-menu-adress {
  margin-bottom: 48px;
}

.mobile-menu-tel {
  margin-bottom: 24px;
}

.mobile-menu-adress-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color var(--transition-hover-focus);
}

.mobile-menu-adress-link:hover,
.mobile-menu-adress-link:focus {
  color: var(--iris);
}
/* #endregion */

/* #region modal-overlay section */
.modal-overlay {
  background-color: var(--navy-blue-modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-hover-focus),
    visibility var(--transition-hover-focus);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  max-height: clamp(calc(100% - 17px), calc(100% - 17px), 623px);
  overflow-y: auto;
  border-radius: 4px;
  padding: 72px 16px 24px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--transition-hover-focus);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--navy-blue);
  background-color: var(--cornflower);
  transition: background-color var(--transition-hover-focus),
    border var(--transition-hover-focus);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  color: var(--white);
  background-color: var(--ocean);
}

.modal-close-icon {
  fill: currentColor;
  transition: fill var(--transition-hover-focus);
}

.modal-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.modal-form-field-box {
  display: flex;
  flex-direction: column;
  color: var(--navy-blue);
}

.modal-form-input-box {
  margin-bottom: 8px;
}

.modal-form-textarea-box {
  margin-bottom: 16px;
}

.modal-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-input-box {
  position: relative;
}

.modal-form-field {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color var(--transition-hover-focus);
}

.modal-form-field:hover,
.modal-form-field:focus {
  border-color: var(--iris);
}

.modal-form-input {
  height: 40px;
  padding: 11px 16px 11px 38px;
}

.modal-form-textarea {
  height: 120px;
  padding: 8px 16px;
  resize: none;
  overflow-y: auto;
  transition: border-color var(--transition-hover-focus);
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.modal-form-icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-hover-focus);
}

.modal-form-field:hover + .modal-form-icon,
.modal-form-field:focus + .modal-form-icon {
  fill: var(--iris);
}

.custom-checkbox-container {
  margin-bottom: 24px;
}

.standard-checkbox:checked + .custom-checkbox .custom-checkbox-box {
  background-color: rgb(var(--ocean));
  border: none;
  fill: var(--cloud);
}

.standard-checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  visibility: visible;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.custom-checkbox-box {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition-hover-focus),
    border var(--transition-hover-focus), fill var(--transition-hover-focus);
}

.privacy-policy-link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: var(--iris);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.modal-form-btn {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  background-color: var(--iris);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-hover-focus);
}

.modal-form-btn:hover {
  background-color: var(--ocean);
}
/* #endregion */
